@(model: controllers.Log.LogViewModel)
@import controllers.Log.LogViewModel
@import controllers.Log.PageLinkModel
@import controllers.Log.LogViewEntryModel
@import helper._
@import helper.twitterBootstrap._

@getRoute(typ: String) = @{
    if(typ == "api"){
        routes.Log.getApiLogs()
      } else
      {
        routes.Log.getLoginLogs()
      }   
}
@getParameteredRoute(typ: String, filter: String, page: Integer) = @{
    if(typ == "api"){
        routes.Log.getApiLogs(filter,page)
      } else
      {
        routes.Log.getLoginLogs(filter,page)
      }   
}   

@main("LFH Shop - " + model.title){
    <h1>@model.title</h1>        
        @form(action = getRoute(model.typ)) {
        <div class="form-group">
            <input type="text" class="form-control" name="filter" id="filter" placeholder="Logs durchsuchen" value="@model.filter" />
        </div>
        <div class="form-group">
            <button type="submit" id="search-product" class="btn btn-default">Suchen</button>
        </div>
    }
    @if(model.totalPage > 1){
    <div class="paging">
        <ul class="clear">
            <li>@if(model.currentPage > 0){<a href="@getParameteredRoute(model.typ,model.filter,0)"><span class="glyphicon glyphicon-fast-backward"></span></a>}else{<span class="glyphicon glyphicon-fast-backward"></span>}</li>
            <li>@if(model.currentPage > 0){<a href="@getParameteredRoute(model.typ,model.filter,model.linkModel.getPrevLink())"><span class="glyphicon glyphicon-backward"></span></a>}else{<span class="glyphicon glyphicon-backward"></span>}</li>
            @if(model.linkModel.hasLess()){
            <li>...</li>
            }
            @for(m <- model.linkModel.getPageLinks()){
                @if(m == model.currentPage){
                    <li><a href="@getParameteredRoute(model.typ,model.filter,m)" class="active">@{m + 1}</a></li>
                } else {
                    <li><a href="@getParameteredRoute(model.typ,model.filter,m)">@{m + 1}</a></li>
                }
            }
            @if(model.linkModel.hasMore()){
            <li>...</li>
            }
            <li>@if(model.currentPage + 1 < model.totalPage){<a href="@getParameteredRoute(model.typ,model.filter,model.linkModel.getNextLink())"><span class="glyphicon glyphicon-forward"></span></a>}else{<span class="glyphicon glyphicon-forward"></span>}</li>
            <li>@if(model.currentPage + 1 < model.totalPage){<a href="@getParameteredRoute(model.typ,model.filter,model.linkModel.getLastLink())"><span class="glyphicon glyphicon-fast-forward"></span></a>}else{<span class="glyphicon glyphicon-fast-forward"></span>}</li>
        </ul>
    </div>
    }
    <table class="table table-striped log-overview clear">
        <tr>
            <th class="log-overview-date">Datum</th>
            <th class="log-overview-user">Benutzer</th>
            <th class="log-overview-info">Info</th>
            @if(model.typ == "api"){
            <th class="log-overview-param">Parameter</th>
            }
        </tr>
    @for(entry <- model.entries) {
        <tr>
            <td>@entry.date</td>
            <td>@entry.userName</td>
            <td>@entry.info</td>
            @if(model.typ == "api"){
            <td>@entry.params</td>
            }
        <tr>
    } 
    </table>
}
