
/*
 * Sidebar
 */

.sidebar .nav,
.sidebar form {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border-radius: 5px;
}

.sidebar form {
    padding: 20px;
}

.sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #ddd;
}

/*
 * Product list
 */

.products > .product {
    box-sizing: content-box;
    position: relative;
    min-height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 115px;
    border-top: 1px solid #ddd;
}

.products > .product:first-child {
    margin-top: 15px;
    border-top: none;
}

.products > .product > img {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    height: 100px;
}

.products > .product > p {
    margin-top: 5px;
    font-size: 0.8em;
}

/*
 * Forms
 */
.description {
	min-height: 150px;
	resize:vertical;
}

.comment {
    min-height: 100px;
    width: 100%;
    resize:vertical;
}

.manage {
    margin-bottom: 20px;
    margin-top: 20px;
}

.attribute_template {
    display: none;
}

.image {
    width: 100%;
    
}

.images {
	margin-bottom: 20px;
}
/*
 * Cart
 */
.cart table {
    font-size: 0.9em;
}

.cart table .price {
    text-align: right;
}

.cart table .amount input {
    width: 30px;
    text-align: center;
}