/*
 * Default
 */
.clear {
    clear: both;
}

.break-all {
    word-break: break-all;
}

/*
 * Design
 */

body, html {
    background-color: #eee !important;
    font-family: 'Ubuntu', sans-serif !important;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 600 !important;
    margin-bottom: 0.5em !important;
}

h1 {
    font-size: 1.8em !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.2em !important;
}

.container {
    background-color: white;
    box-shadow: 0 0 30px #ddd;
}

.container > .row > .header {
    height: 30px;
    background-image: url('/assets/images/header_bg.png');
    background-size: 100%;
}

.container > .row > .inner  {
    padding-bottom: 30px;
}

.container > .row > .inner .col-content a {
    color: #0a7b83;
}

.container > .row > .inner .col-content a:visited,
.container > .row > .inner .col-content a:hover {
    color: #0a7b83;
}

.container > .row > .footer {
    background-color: #555;
    padding: 20px;
    color: #ccc;
    font-size: 0.85em;
}

.messages {
    margin: 5px 0px 5px 0px;
}

/*
 * Sidebar
 */

.sidebar .nav,
.sidebar form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border-radius: 0;
}

.sidebar form {
    padding: 20px 35px;
}

.sidebar .nav > li > a,
.sidebar .nav > li > b,
.sidebar .nav > li > span {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    color: white;
    text-decoration: none;
    background-color: #0a7b83;
}

/*
 * Product list
 */
.products > .product {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    position: relative;
    min-height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 115px;
    border-top: 1px solid #ddd;
}

.products > .product:first-child {
    margin-top: 15px;
    border-top: none;
}

.products > .product > img {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 0;
    padding: 2px;
}

.products > .product > p {
    margin-top: 5px;
    font-size: 0.8em;
}

/*
 * Rating Stars
 */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}

.rating:hover .rating-star:hover, .rating:hover
.rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star, .rating-star-static, .rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/assets/images/star.png') 0 -16px;
}

/*
 * Rating Stars static
 */
.rating-star-static, .rating-star-static-disabled {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/assets/images/star.png') 0 -16px;
}

.rating-star-static-disabled {
    background-position: 0 0;
}

/*
 * Forms
 */
.description {
    min-height: 150px;
    resize: vertical;
}

.comment {
    min-height: 100px;
    width: 100%;
    resize: vertical;
}

.manage {
    margin-bottom: 20px;
    margin-top: 20px;
}

.attribute_template, .tag_template {
    display: none;
}

.image {
    width: 100%;
}

.images {
    margin-bottom: 20px;
}

/*
 * Cart
 */
.cart table {
    font-size: 0.9em;
}

.cart table .price {
    text-align: right;
}

.cart table .amount input {
    width: 30px;
    text-align: center;
}

/*
 * Paging
 */
.paging {
    color: #716b7a;
    text-align: center;
    width: 100%;
    display: table;
}

.paging > ul {
    float: left;
    list-style-type: none;
}

.paging > ul > li {
    display: inline;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 30px;
    border: 1px solid #ddd;
    line-height: 150%;
}

.paging > ul > li > a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #716b7a;
}

.paging > ul > li > a:hover {
    background-color: #ddd;
}

.paging > ul > li > .active {
    font-weight: bold;
    background-color: #ddd;
}

/*
 * Log
 */
.log-overview {
    table-layout: fixed;
}

.log-overview-date, .log-overview-user {
    width: 20%;

}

.log-overview-info, .log-overview-params {
    width: 30%;

}

.log-overview tr td {
    word-wrap: break-word;
}
