/*
 * Sidebar
 */
.sidebar .nav,.sidebar form {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border-radius: 5px;
}

.sidebar form {
    padding: 20px;
}

.sidebar .nav > li > a,
.sidebar .nav > li > b,
.sidebar .nav > li > span {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

.sidebar .nav > li > a:hover,.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #ddd;
}

/*
 * Product list
 */
.products > .product {
    box-sizing: content-box;
    position: relative;
    min-height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 115px;
    border-top: 1px solid #ddd;
}

.products > .product:first-child {
    margin-top: 15px;
    border-top: none;
}

.products > .product > img {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    height: 100px;
}

.products > .product > p {
    margin-top: 5px;
    font-size: 0.8em;
}

/*
 * Rating Stars
 */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}

.rating:hover .rating-star:hover, .rating:hover 
    .rating-star:hover ~ .rating-star,.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star, .rating-star-static, .rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/assets/images/star.png') 0
        -16px;
}

/*
 * Rating Stars static
 */
.rating-star-static, .rating-star-static-disabled {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/assets/images/star.png') 0
        -16px;
}

.rating-star-static-disabled {
    background-position: 0 0;
}

/*
 * Forms
 */
.description {
    min-height: 150px;
    resize: vertical;
}

.comment {
    min-height: 100px;
    width: 100%;
    resize: vertical;
}

.manage {
    margin-bottom: 20px;
    margin-top: 20px;
}

.attribute_template, .tag_template {
    display: none;
}

.image {
    width: 100%;
}

.images {
    margin-bottom: 20px;
}
/*
 * Cart
 */
.cart table {
    font-size: 0.9em;
}

.cart table .price {
    text-align: right;
}

.cart table .amount input {
    width: 30px;
    text-align: center;
}
/*
 * Log
 */
 .pager > li  {
     color: #716b7a;
 }
