@(product: models.Product, imageIndex: Integer, ratings: List[Rating], ratingForm: Form[Rating])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to the LFH Shop") {
	<h1>@product.getTitle()</h1>
	
	@if(product.hasImage){
	    <div class="well">
            <img class="image" src="@product.getImages.get(imageIndex).getAssetUrl">
            <ul class="pagination">
            @for((image, index) <- product.getImages.zipWithIndex){
                <li><a href="?image=@index">@{index + 1}</a></li>
            }
            </ul>
        </div>
	}
	
    
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Produkt Details</h3>
    </div>
    <div class="panel-body">
	<table>
		<tr><th>ID</th><td>@product.getId()</td></tr>
		<tr><th>Preis</th><td>@Messages("api.request.currency") @product.getPrice()</td></tr>
		<tr><th>EAN:</th><td>@product.getEan()</td></tr>
		@for(attribute <- product.getAttributes){
           <tr><th></th><td>@attribute.getValue</td></tr>
        }
	</table>
	@product.getDescription()
	</div>
    </div>

    @if(Eshomo.isLoggedIn()){
    <form action="/product/addtocart/@product.getId" method="post">
        <button type="submit" class="btn btn-primary">In den Warenkorb</button>
    </form>
    }

	@if(ratingForm.hasGlobalErrors) {
    	<div class="error">
        	@ratingForm.globalError.message
    	</div>
	}

    <div>
    <h2>Bewertungen</h2>
    @if(Eshomo.isLoggedIn()){
    @form(routes.Product.submitRating(product.getId)) {
   		<fieldset>

            <div class="clearfix  " id="rate_field">
            <h4>Bewertung abgeben</h4>
            <div class="input">
                <span class="rating" id="rate">
                    @for(index <- 5 to 1 by -1){
                        <input type="radio" id="rate_@index" name="rate" value="@index" class="rating-input" required="required">
                        <label for="rate_@index" class="rating-star" onclick="window.location='#submit-rating';"></label>
                    }
                </span>

            </div>
            </div>
            
            @textarea(
                ratingForm("comment"), 
                'class -> "comment",
                '_label -> "Kommentar"
            )

        </fieldset>

        <div class="actions">
            <input id="submit-rating" type="submit" class="btn primary" value="Bewerten">
            <a href="@routes.Product.details(product.getId)" class="btn">Löschen</a>
        </div>
        
    }}
    <h4>Bewertungen anderer Benutzer</h4>
    @for(rating <- ratings) {
        
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bewertung von @rating.getUser().getAdress().getFirstname()</h3>
        </div>
        <div class="panel-body">
            <div>
            <span class="rating" id="rate_@rating.getId()">
                @for(index <- 5 to 1 by -1){ 
                    @if(rating.getRate >= index){
                        <label class="rating-star-static-disabled"></label>
                    }else{
                        <label class="rating-star-static"></label>
                    }
                    
                }
            </span>
            </div>
            @rating.getComment()
        </div>
        <div class="panel-footer">@rating.getCreatedAt()</div>
        </div>
	}
    </div>
}

    

