@(users: List[controllers.User.UserHelper])

@import helper._
@import helper.twitterBootstrap._

@main("LFH Shop - Transaktionsübersicht") {
    <h1>Kundenliste</h1>
    @form(action = routes.User.search()) {
        <div class="form-group">
            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Suchen nach id, Name, Vorname, oder E-Mailadresse" />
        </div>
        <div class="form-group">
            <button type="submit" id="search-user" class="btn btn-default">Suchen</button>
            <a href="@routes.Account.registerIndex()">Neuer User erfassen</a>
        </div>
    }
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>E-Mail</th>
            <th>Typ</th>
            <th>Aktiv</th>
            <th>Delete</th>
            <th>Bestellungen</th>
        </tr>
    @for(user <- users) {
        <tr>
            <td><a href="@routes.User.showData(user.id)">@user.id</a></td>
            <td>@user.email</td>
            <td><a href="@routes.User.changeUserType(user.id)">@user.usertype</a></td>
            @if(user.isActive) {
                <td><a href="@routes.User.changeStatus(user.id)"><img src="@routes.Assets.at("images/check.png")" alt="Aktiv" /></a></td>
            } else {
                <td><a href="@routes.User.changeStatus(user.id)"><img src="@routes.Assets.at("images/sign_forbidden.png")" alt="Passiv" /></a></td>
            }
            <td><a href="@routes.User.delete(user.id)"><img src="@routes.Assets.at("images/delete.png")" alt="Delete" /></a></td>
            <td><a href="@routes.User.showTransactions(user.id)">anzeigen</a></td>
        <tr>
    } 
    </table>
}