@(carts: List[models.Cart])

@main("LFH Shop - Transaktionsübersicht") {
	<h1>Bestellungen</h1>
	<table class="table table-striped">
		<tr>
			<th>Nr.</th>
            <th>User</th>
			<th>Datum</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
	@for(cart <- carts) {
  		<tr>
  			<td>@cart.getId</td>
            <td><a href="/user/data?userid=@cart.getUser.getId">@cart.getUser.getId</a></td>
  			<td>@cart.getUpdatedAt.format("dd.MM.yyyy")</td>
  			<td>
                <a href="/transactions/@cart.getId">
                    @if(cart.getTotalAmount > 1) {
                        @cart.getTotalAmount Produkte anzeigen
                    } else {
                        Produkt anzeigen
                    }
                </a>
            </td>
  			<td>CHF @cart.getTotalPrice</td>
  		<tr>
	} 
	</table>
}