@(userForm: Form[models.User], addressForm: Form[Address], country: String, message: String, messageType: String, isOwn: Boolean = false)

@import helper._
@import helper.twitterBootstrap._

@main("LFH Shop - Persönliche Daten") {
	@form(action = routes.User.updateData(userForm("id").value().toInt)) {
		@if(!message.isEmpty()) {
			<div class="alert alert-@messageType">
				<a class="close" data-dismiss="alert">x</a> 
				<strong>Meldung: </strong>@message.  
			</div>
		}
			
		<h1>Benutzerdaten</h1>
		@inputText(userForm("email"), 
		           '_label -> "Benutzername", 
		           'class -> "form-control", 
		           'placeholder -> "Bitte E-Mailadresse eingeben", 
		           'required -> "required", 
		           'type -> "email",
		           'readonly -> "readonly", 
		           'maxlength -> "45",
		           '_help -> ""
		           )
		           
		@inputPassword(userForm("password"), 
		              '_label -> "Passwort", 
   		              'class -> "form-control", 
	   	              'placeholder -> "Bitte Passwort eingeben", 
		              'pattern -> ".{8,}",
		              'title -> "Passwort muss mindestens 8 Zeichen haben",
		              '_help -> ""
		              )
		           
		@inputPassword(userForm("passwordRepeat"), 
		              '_label -> "Wiederholen", 
		              'class -> "form-control", 
		              'placeholder -> "Bitte Passwort wiederholen", 
		              'pattern -> ".{8,}",
		              'title -> "Passwort muss mindestens 8 Zeichen haben",
		           	  '_help -> ""
		              )
		@if(isOwn){
				@inputText(userForm("token"), 
		           '_label -> "API Token", 
		           'class -> "form-control", 
		           'placeholder -> "Bitte E-Mailadresse eingeben", 
		           'required -> "required", 		           
		           'readonly -> "readonly", 
		           'maxlength -> "45",
		           '_help -> "Für den Zugriff auf die Export API"
		           )
		}
		
		<h1>Adresse</h1>
		
		@inputText(addressForm("firstname"), 
		           '_label -> "Vorname", 
		           'class -> "form-control", 
		           'placeholder -> "Vornamen eingeben", 
		           'required -> "required",  
		           'maxlength -> "45",
		           '_help -> ""
                   )
		
		@inputText(addressForm("lastname"), 
		           '_label -> "Name", 
		           'class -> "form-control", 
		           'placeholder -> "Nachnamen eingeben", 
		           'required -> "required",  
		           'maxlength -> "45",
		           '_help -> ""
                   )
		
		@inputText(addressForm("street"), 
		           '_label -> "Strasse / Nr.", 
		           'class -> "form-control", 
		           'placeholder -> "Strasse / Nr. eingeben", 
		           'required -> "required",  
		           'maxlength -> "45",
		           '_help -> ""
                   )
		
		@inputText(addressForm("zip"), 
		           '_label -> "PLZ", 
		           'class -> "form-control", 
		           'placeholder -> "PLZ eingeben", 
		           'required -> "required",  
		           'maxlength -> "20",
		           '_help -> ""
                   )
		
		@inputText(addressForm("place"), 
		           '_label -> "Ort", 
		           'class -> "form-control", 
		           'placeholder -> "Ort eingeben", 
		           'required -> "required",  
		           'maxlength -> "45",
		           '_help -> ""
                   )
               
        <label for="country">Land</label>
        <div class="input">
	        <select id="country" name="country" class="form-control" required="required">
	        @for((key, value) <- models.Country.countries) {
	            @if(key == country) {
	                <option value="@key" selected>@value</option>   
	            } else {
	                <option value="@key">@value</option>      
	            }
	        }
	        </select>
	        <span class="help-inline"></span>
	        <span class="help-block"></span> 
        </div>
        
        @inputDate(addressForm("birthday"), 
                   '_label -> "Geburtsdatum", 
                   'class -> "form-control", 
                   'placeholder -> "Ort eingeben", 
                   'required -> "required",  
                   'maxlength -> "45",
                   '_help -> ""
                   )
 		
        <button type="submit" id="update-user-data" class="btn btn-default">Aktualisieren </button>
        
	}
}