@(user: models.User)

@import helper._
@import helper.twitterBootstrap._

<ul class="nav">
    <li><a href="@routes.User.showTransactions(user.getId())">Bestellungen</a></li>
    <li><a href="@routes.User.showData(user.getId())">Pers&ouml;nliche Daten</a></li>
    <li><a href="@routes.Account.logout()">Ausloggen</a></li>
</ul>

@if(user.getType().getId() == "admin") {
<h2>Admin</h2>
	<ul class="nav">
        <li><a href="@routes.User.list()">Kunden bearbeiten</a></li>
        <li><a href="@routes.Product.list()">Produkte bearbeiten</a></li>    
        <li><a href="@routes.Country.list()">L&auml;nder bearbeiten</a></li>    
	</ul>
}