@(user: models.User)

<ul class="nav">
    <li><a href="@routes.Cart.index()">Warenkorb</a></li>
    <li><a href="@routes.Cart.history()">Bestellungen</a></li>
    <li><a href="@routes.User.showDataCurrent()">Persönliche Daten</a></li>
    <li><a href="@routes.Account.logout()">Ausloggen</a></li>
</ul>

@if(user.getType().getId() == "admin") {
	<ul class="nav">
        <li><b>Admin</b></li>
        <li><a href="@routes.User.list()">Kunden bearbeiten</a></li>
        <li><a href="@routes.Product.list()">Produkte bearbeiten</a></li>
        <li><a href="@routes.Country.list()">Länder bearbeiten</a></li>
        <li><a href="@routes.User.showTransactions(-1)">Bestellungen anzeigen</a></li>
        <li><b>Logs</b></li>
        <li><a href="@routes.Log.getApiLogs()">Api Log anzeigen</a></li>
        <li><a href="@routes.Log.getLoginLogs()">Login Log anzeigen</a></li>

	</ul>
}