@(userForm: Form[models.User], addressForm: Form[Address], country: List[models.Country], message: String, messageType: String, login: Html)

@import helper._
@import helper.twitterBootstrap._

@main("LFH Shop - Registration", login) {
	@form(action = routes.Account.register()) {
		@if(!message.isEmpty()) {
			<div class="alert alert-@messageType">
				<a class="close" data-dismiss="alert">x</a> 
				<strong>Meldung: </strong>@message.  
			</div>
		}
		
		@if(messageType != "success") {
	
		<h1>Benutzerdaten</h1>
		@inputText(userForm("email"), 
		           '_label -> "Benutzername", 
		           'class -> "form-control", 
		           'placeholder -> "Bitte E-Mailadresse eingeben", 
		           'required -> "required", 
		           'type -> "email", 
		           'maxlength -> "45",
		           '_help -> ""
		           )
		           
		@inputPassword(userForm("password"), 
		              '_label -> "Passwort", 
   		              'class -> "form-control", 
	   	              'placeholder -> "Bitte Passwort eingeben", 
		              'required -> "required",
		              'pattern -> ".{8,}",
		              'title -> "Passwort muss mindestens 8 Zeichen haben",
		              '_help -> ""
		              )
		           
		@inputPassword(userForm("passwordRepeat"), 
		              '_label -> "Wiederholen", 
		              'class -> "form-control", 
		              'placeholder -> "Bitte Passwort wiederholen", 
		              'required -> "required", 
		              'pattern -> ".{8,}",
		              'title -> "Passwort muss mindestens 8 Zeichen haben",
		           	  '_help -> ""
		              )
		
		<h1>Adresse</h1>
		
		@inputText(addressForm("firstname"), 
		           '_label -> "Vorname", 
		           'class -> "form-control", 
		           'placeholder -> "Vornamen eingeben", 
		           'required -> "required",  
		           'maxlength -> "45",
		           '_help -> ""
                   )
		
		@inputText(addressForm("lastname"), 
		           '_label -> "Name", 
		           'class -> "form-control", 
		           'placeholder -> "Nachnamen eingeben", 
		           'required -> "required",  
		           'maxlength -> "45",
		           '_help -> ""
                   )
		
		@inputText(addressForm("street"), 
		           '_label -> "Strasse / Nr.", 
		           'class -> "form-control", 
		           'placeholder -> "Strasse / Nr. eingeben", 
		           'required -> "required",  
		           'maxlength -> "45",
		           '_help -> ""
                   )
		
		@inputText(addressForm("zip"), 
		           '_label -> "PLZ", 
		           'class -> "form-control", 
		           'placeholder -> "PLZ eingeben", 
		           'required -> "required",  
		           'maxlength -> "20",
		           '_help -> ""
                   )
        
        @inputText(addressForm("place"), 
                   '_label -> "Ort", 
                   'class -> "form-control", 
                   'placeholder -> "Ort eingeben", 
                   'required -> "required",  
                   'maxlength -> "45",
                   '_help -> ""
                   )
                
        @select(addressForm("country"), 
                options(models.Country.countries),             
                'class -> "form-control",
                'required -> "required",
                '_label -> "Land")
        
        
        @inputDate(addressForm("birthday"), 
                   '_label -> "Geburtsdatum", 
                   'class -> "form-control", 
                   'placeholder -> "Ort eingeben", 
                   'required -> "required",  
                   'maxlength -> "45",
                   '_help -> ""
                   )
        
        <div class="checkbox">
        	<label>
        		<input type="checkbox" id="agb" name="agb" required="required" /> AGB's akzeptieren
        	</label>
        </div>
 		
        <button type="submit" class="btn btn-default">Registrieren</button>
        
        }
	}
}